# file types
*.pyc
*.o
*~

# Dirs
build/
sites/ares/
obj*

# Specific files
lib/ma28/Makefile.h
lib/ma28/build.csh
tools/sfocu/sfocu
source/physics/sourceTerms/Burn/BurnMain/nuclearBurn/MesaNet/kernel/external_codes_with_mesa/min_net/run